{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}MetalMaiden index{% endblock %}

{% block body %}
    <h1>Metal Maiden index</h1>

    <div class="mb-2">
        <a href="{{ path('admin_metal_maiden_new') }}">
            <button type="button" class="btn btn-dark">Create new</button>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Attire</th>
                <th>Attire slug</th>
                <th>Attire category</th>
                <th>Nation</th>
                <th>hasPortraitImageFile</th>
                <!--<th>PortraitImageName</th>
                <th>PortraitImageSize</th>-->
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metal_maiden in metal_maidens %}
            <tr>
                <td>{{ metal_maiden.id }}</td>
                <td>{{ metal_maiden.name }}</td>
                <td>{{ metal_maiden.attire }}</td>
                <td>{{ metal_maiden.attireSlug }}</td>
                <td>{% if metal_maiden.attireCategory %}{{ metal_maiden.attireCategory.abbreviation }} {% endif %}</td>
                <td>{% if metal_maiden.nation %}{{ metal_maiden.nation.name }} {% endif %}</td>
                <td>{{ metal_maiden.hasPortraitImageFile|boolean }}
                <!--<td>{{ metal_maiden.portraitImageName }}</td>
                <td>{{ metal_maiden.portraitImageSize }}</td>-->
                <td>{{ metal_maiden.createdAt ? metal_maiden.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ metal_maiden.updatedAt ? metal_maiden.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_metal_maiden_show', {'attireSlug': metal_maiden.attireSlug}) }}">show</a>
                    <a href="{{ path('admin_metal_maiden_edit', {'attireSlug': metal_maiden.attireSlug}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}