{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}MetalMaiden{% endblock %}

{% block body %}
	<h1>MetalMaiden</h1>

	<div class="container">
		<div class="row justify-content-md-center align-items-center">
			<div class="col-md-auto">
				<img src="{{ vich_uploader_asset(metal_maiden, 'portraitImageFile') }}" alt"{{ metal_maiden.attire }}'s portrait" />
			</div>
			<div class="col">
				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ metal_maiden.id }}</td>
						</tr>
						<tr>
							<th>{{ 'label.name'|transchoice(0)|capitalize }}</th>
							<td>{{ metal_maiden.name }}</td>
						</tr>
						<tr>
							<th>{{ 'entity.metal_maiden.attire'|transchoice(0)|capitalize }}</th>
							<td>{{ metal_maiden.attire }}</td>
						</tr>
						<tr>
							<th>{{ 'entities.attire_category'|transchoice(0)|capitalize }}</th>
							<td>{% if metal_maiden.attireCategory %}{{ metal_maiden.attireCategory.name }} {% endif %}</td>
						</tr>
						<tr>
							<th>{{ 'entities.nation'|transchoice(0)|capitalize }}</th>
							<td>{% if metal_maiden.nation %}{{ metal_maiden.nation.name }} {% endif %}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="d-inline-block mb-2">
		<a href="{{ path('metal_maiden_show', {'attireSlug': metal_maiden.attireSlug}) }}"><button class="btn d-inline-block">{{ 'label.public_view'|transchoice(0)|capitalize }}</button></a>
	</div>

	<div class="d-inline-block mt-2">
		<a href="{{ path('admin_metal_maiden_index') }}"><button class="btn d-inline-block">{{ 'label.back_to_list'|transchoice(0)|capitalize }}</button></a>
	</div>

	<div class="d-inline-block mb-4">
		<a href="{{ path('admin_metal_maiden_edit', {'attireSlug': metal_maiden.attireSlug}) }}"><button class="btn d-inline-block">{{ 'label.edit'|transchoice(0)|capitalize }}</button></a>
	</div>

	{{ include('admin/metal_maiden/_delete_form.html.twig') }}
{% endblock %}