<div class="mb-4">
<!--     <div class="row">
        {% if metal_maidens_filter["attire_category_abbreviation"] is defined and metal_maidens_filter["attire_category_abbreviation"] is not empty %}
            {% if metal_maidens_filter["nation_name"] is defined and metal_maidens_filter["nation_name"] is not empty %}
                <a href="{{ path('metal_maiden_index_filtered_by_attire_category_abbreviation', {'attireCategoryAbbreviation': metal_maidens_filter["attire_category_abbreviation"]}) }}">
                    {{ metal_maidens_filter["nation_name"] }} <i class="fa fa-times fa-2x text-danger"></i>
                </a>
            {% endif %}
        {% endif %}

        {% if metal_maidens_filter["nation_name"] is defined and metal_maidens_filter["nation_name"] is not empty %}
            {% if metal_maidens_filter["attire_category_abbreviation"] is defined and metal_maidens_filter["attire_category_abbreviation"] is not empty %}
                <a href="{{ path('metal_maiden_index_filtered_by_nation_name', {'nationName': metal_maidens_filter["nation_name"]}) }}">
                    {{ metal_maidens_filter["attire_category_abbreviation"] }} <i class="fa fa-times fa-2x text-danger"></i>
                </a>
            {% endif %}
        {% endif %}
    </div> -->

    <div class="row align-items-center">
        {% for nation in nations %}
            {% if metal_maidens_filter["attire_category_abbreviation"] is defined and metal_maidens_filter["attire_category_abbreviation"] is not empty %}
                {% if loop.first and metal_maidens_filter["nation_name"] is defined and metal_maidens_filter["nation_name"] is not empty %}
                    <a href="{{ path('metal_maiden_index_filtered_by_attire_category_abbreviation', {'attireCategoryAbbreviation': metal_maidens_filter["attire_category_abbreviation"]}) }}">
                        <button type="button" type="button" class="btn btn-outline-danger btn-sm mr-3">reset</i></button>
                    </a>
                {% endif %}
                <a href="{{- path(
                    'metal_maiden_index_filtered_by_attire_category_abbreviation_and_nation_name',
                    {
                        'attireCategoryAbbreviation': metal_maidens_filter["attire_category_abbreviation"],
                        'nationName': nation.name,
                    }
                ) -}}">
            {% else %}
                {% if loop.first and metal_maidens_filter is defined %}
                    <a href="{{ path('metal_maiden_index') }}">
                        <button type="button" type="button" class="btn btn-outline-danger btn-sm mr-3">reset</i></button>
                    </a>
                {% endif %}
                <a href="{{ path('metal_maiden_index_filtered_by_nation_name', {'nationName': nation.name}) }}">
            {% endif %}
                <img
                    class="metal-maidens-filter {% if metal_maidens_filter["nation_name"] is defined and metal_maidens_filter["nation_name"] == nation.name %}active{% endif %}"
                    src="{{ vich_uploader_asset(nation, 'imageFile') }}"
                    alt="{{ nation.name }}'s national flag"
                />
            </a>
        {% endfor %}
    </div>

    <div class="row align-items-center">
        {% for attire_category in attire_categories %}
            {% if metal_maidens_filter["nation_name"] is defined and metal_maidens_filter["nation_name"] is not empty %}
                {% if loop.first and metal_maidens_filter["attire_category_abbreviation"] is defined and metal_maidens_filter["attire_category_abbreviation"] is not empty %}
                    <a href="{{ path('metal_maiden_index_filtered_by_nation_name', {'nationName': metal_maidens_filter["nation_name"]}) }}">
                        <button type="button" type="button" class="btn btn-outline-danger btn-sm mr-3">reset</i></button>
                    </a>
                {% endif %}
                <a href="{{- path(
                    'metal_maiden_index_filtered_by_attire_category_abbreviation_and_nation_name',
                    {
                        'attireCategoryAbbreviation': attire_category.abbreviation,
                        'nationName': metal_maidens_filter["nation_name"],
                    }
                ) -}}">
            {% else %}
                {% if loop.first and metal_maidens_filter is defined %}
                    <a href="{{ path('metal_maiden_index') }}">
                        <button type="button" type="button" class="btn btn-outline-danger btn-sm mr-3">reset</i></button>
                    </a>
                {% endif %}
                <a href="{{ path('metal_maiden_index_filtered_by_attire_category_abbreviation', {'attireCategoryAbbreviation': attire_category.abbreviation}) }}">
            {% endif %}
                <img
                    class="metal-maidens-filter attire-category-icon {% if metal_maidens_filter["attire_category_abbreviation"] is defined and metal_maidens_filter["attire_category_abbreviation"] == attire_category.abbreviation %}active{% endif %}"
                    src="{{ '/' ~ asset_paths["attire_category"] ~ attire_category.abbreviation|lower ~ '.png' }}"
                    alt="{{ attire_category.name }}'s attire category icon"
                />
            </a>
        {% endfor %}
    </div>

</div>