{% extends 'base.html.twig' %}

{% block title %}MetalMaiden index{% endblock %}

{% block body %}

<h1>Metal Maiden list</h1>
{% if metal_maidens_filter is defined %}
    <p class="text-muted">By {{ metal_maidens_filter["parameter"] }}: {{ metal_maidens_filter["value"] }}</p>
{% endif %}
<hr />

<div class="album">
    <div class="container">
        <div class="row">
        {% for metal_maiden in metal_maidens|sort %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="card box-shadow mb-4 bg-transparent text-white border-0">
                <img class="card-img-top rounded metal-maiden-portrait-image" data-src="holder.js/157px146?theme=thumb&bg=55595c&fg=eceeef&text=Image" src="{{ vich_uploader_asset(metal_maiden, 'portraitImageFile') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title small">{{ metal_maiden.attire }}</h5>
                    <h6 class="card-subtitle small text-muted">{{ metal_maiden.name }}</h6>
                    <div class="d-flex justify-content-between align-items-center">
<!--                         <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div> -->
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ metal_maiden.attireCategory.abbreviation }} - {{ metal_maiden.nation.name }}</small>
                </div>
            </div>
        </div>

        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}