{% extends 'base.html.twig' %}

{% block title %}MetalMaiden index{% endblock %}

{% block body %}
    <h1>MetalMaiden index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Attire</th>
                <th>Attire category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for metal_maiden in metal_maidens %}
            <tr>
                <td>{{ metal_maiden.id }}</td>
                <td>{{ metal_maiden.name }}</td>
                <td>{{ metal_maiden.attire }}</td>
                <td>{% if metal_maiden.attireCategory %}{{ metal_maiden.attireCategory.name }} {% endif %}</td>
                <td>
                    <a href="{{ path('metal_maiden_show', {'id': metal_maiden.id}) }}">show</a>
                    <a href="{{ path('metal_maiden_edit', {'id': metal_maiden.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('metal_maiden_new') }}">Create new</a>
{% endblock %}