{% extends 'base.html.twig' %}

{% block title %}Metal Maiden list{% endblock %}

{% block body %}

<h1>Metal Maiden list</h1>
<p class="text-muted">
    Results: {{ metal_maidens|length }}
</p>

{{ include('metal_maiden/_index_navbar.html.twig') }}

<div class="album">
    <div class="container">
        <div class="row">

            {% for metal_maiden in metal_maidens %}
                <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                    <div class="metal-maiden card box-shadow mb-4 text-white border-0">
                        <div class="metal-maiden-portrait-wrapper">
                            <img class="card-img-top rounded metal-maiden-portrait-image" data-src="holder.js/155x145?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Image" src="{{ vich_uploader_asset(metal_maiden, 'portraitImageFile') }}" alt="Card image cap">
                            <img class="metal-maiden-rarity" src="{{ '/' ~ asset_paths["attire_category"] ~ 'tier-' ~ metal_maiden.rarity ~ '.png' }}" alt="Metal maiden rarity" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title small">{{ metal_maiden.attire }}</h5>
                            <h6 class="card-subtitle small text-muted">{{ metal_maiden.name }}</h6>
                            <div class="d-flex justify-content-between align-items-center">
                            </div>
                        </div>
                        <div class="card-footer small text-muted">N? - {{ metal_maiden.attireCategory.abbreviation }} - {{ metal_maiden.nation.name }}</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}