{% extends 'base.html.twig' %}

{% block title %}MetalMaiden{% endblock %}

{% block body %}
    <h1>MetalMaiden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ metal_maiden.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ metal_maiden.name }}</td>
            </tr>
            <tr>
                <th>Attire</th>
                <td>{{ metal_maiden.attire }}</td>
            </tr>
            <tr>
                <th>Attire category</th>
                <td>{% if metal_maiden.attireCategory %}{{ metal_maiden.attireCategory.name }} {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('metal_maiden_index') }}">back to list</a>

    <a href="{{ path('metal_maiden_edit', {'id': metal_maiden.id}) }}">edit</a>

    {{ include('metal_maiden/_delete_form.html.twig') }}
{% endblock %}