{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}AttireCategory index{% endblock %}

{% block body %}
	<h1>{{ 'admin.attire_category.index.main_title'|trans }}</h1>

    <div class="mb-2">
        <a href="{{ path('admin_attire_category_new') }}">
            <button type="button" class="btn btn-dark">{{ 'label.create_new'|transchoice(0) }}</button>
        </a>
    </div>

    <div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>{{ 'entity.attire_category.abbreviation'|transchoice(0)|capitalize }}</th>
					<th>{{ 'entity.attire_category.name'|transchoice(0)|capitalize }}</th>
					<th>{{ 'entity.attire_category.name_slug'|transchoice(0)|capitalize }}</th></th>
					<th>{{ 'label.action'|transchoice(2)|capitalize }}</th>
				</tr>
			</thead>
			<tbody>
			{% for attire_category in attire_categories %}
				<tr>
					<td>{{ attire_category.id }}</td>
					<td>{{ attire_category.abbreviation }}</td>
					<td>{{ attire_category.name }}</td>
					<td>{{ attire_category.nameSlug }}</td>
					<td>
						<a href="{{ path('admin_attire_category_show', {'nameSlug': attire_category.nameSlug}) }}">{{ 'label.show'|transchoice(2) }}</a>
						<a href="{{ path('admin_attire_category_edit', {'nameSlug': attire_category.nameSlug}) }}">{{ 'label.edit'|transchoice(2) }}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}