<!doctype html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--<link rel="icon" href="../../../../favicon.ico">-->
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
		{% block stylesheets %}{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="{{ path("homepage") }}">Metal Maiden Depot</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path("homepage") }}">{{ 'navbar.metal_maidens'|trans }} <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">{{ 'navbar.terrains'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">{{ 'navbar.help'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">{{ 'navbar.others'|trans }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="{{ path('admin_index') }}">{{ 'navbar.admin'|trans }}</a>
					</li>
				</ul>
				<form class="form-inline mt-2 mt-md-0" method="get" action="{{ path('metal_maiden_search') }}">
					<input class="form-control mr-sm-2" name="search_query" type="text" placeholder="{{ 'navbar.search'|trans }}" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{ 'navbar.search'|trans }}</button>
				</form>
				<ul class="navbar-nav navbar-right">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="locales" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-globe" aria-hidden="true"></i>
							<span class="sr-only">{{ 'navbar.choose_language'|trans }}</span>
						</a>
						<div class="dropdown-menu locales box-shadow" aria-labelledby="locales">
							{% for locale in locales() %}
								<a {% if app.request.locale == locale.code %}aria-checked="true" class="dropdown-item active"{% else %}aria-checked="false" class="dropdown-item"{% endif %} href="{{ path(app.request.get('_route', 'metal_maiden_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a>
							{% endfor %}
						</div>
					</li>
				</ul>
			</div>
		</nav>

		{% block navScroller %}
			<div class="nav-scroller box-shadow">
				<nav class="nav nav-underline">
					{% if not app.user %}
						<a class="nav-link" href="{{ path('security_login') }}">
							<i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
						</a>
					{% endif %}
					{% if app.user %}
						<a class="nav-link" href="#">
							<i class="fa fa-user" aria-hidden="true"></i> {{ 'nav_scroller.account'|trans }}
						</a>
						<a class="nav-link" href="{{ path('security_logout') }}">
							<i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'action.logout'|trans }}
						</a>
					{% endif %}
				</nav>
			</div>
		{% endblock %}

		<!-- Begin page content -->
		<main role="main" class="container mt-2">
			<!-- <h1 class="mt-5">Sticky footer with fixed navbar</h1>
			<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> -->

			{% block body %}{% endblock %}
		</main>

		<footer class="footer">
			<div class="container">
				<p class="float-right"><a href="#">Back to top</a></p>
				<p>2016-2018 Alex De La Vallière &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
			</div>
		</footer>

		{% block javascripts %}{% endblock %}
		<script src="{{ asset('build/js/app.js') }}"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
